<%= render "users/pill_bar" %>

<div class="row">
  <div class="col-md-6 offset-md-3">
    <ul class="list-group">
      <% @user.leaders.each do |leader| %>
        <li class="list-group-item"><%= leader.username %></li>
      <% end %>
    </ul>
  </div>
</div>
